button {
    width: auto;
    height: auto;
    padding: .3rem;
    background: whitesmoke;
    border: 1px solid gainsboro;
    border-radius: .3rem;
    cursor: pointer;
    transition: opacity ease-in-out .2s;
}

button > svg:hover {
    opacity: .7
}